<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Where Am I?</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/googlemap.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/googlemap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/sidebar.js') }}"></script>
</head>

<body style="background-color: #E5E5E5;">
    <div id="landing" style="height:100%; width: 100%; background-color: #E5E5E5; padding: 0px 10% 0px 10%; align-items: center; display: flex; justify-content: center;"></div>
    <div style="height:1px; width: 100%; background-color: #5F7679;"></div>
    <div id="whereamidiv" style="align-items: center; display: flex; justify-content: center; height:100%; width:100%">
        <div id="mapdiv" style="height:100%; width:100%; background-color: #E5E5E5;"></div>
        <div id="sidebar" style="height:100%; width:428px; background-color: #E5E5E5; padding: 48px 0px 48px 0px"></div>
    </div>

    <script>
        // Setup variables.
        let color = {
            page: "#E5E5E5",
            subdued: "#5F7679",
            ink: "#324749"
        }

        let padding = {
            horizontal: 24,
            vertical: 48
        }

        let searchBySwitchAttr = {
            width: 27,
            height: 68,
            padding: 4,
            x: 2,
            y: 2
        }

        let landing = d3.select("div#landing").append("div")
        let sidebar = d3.select("div#sidebar")
        let height = sidebar.attr("height")
        let width = sidebar.attr("width")
        let searchByPlusCode = false

        // Setup landing image.
        let imageAttr = {
            width: 76,
            height: 140
        }

        let imageSvg = landing.append("div")
            .style("display", "flex")
            .style("align-items", "center")
            .style("justify-content", "center")
            .style("padding-bottom", "24px")
            .style("width", "100%")
            .style("height", imageAttr.height)
            .append("svg")
            .attr("width", imageAttr.width)
            .attr("height", imageAttr.height)

        imageSvg.append("image")
            .attr('xlink:href', "{{ url_for('static',filename='images/whereami.svg') }}")
            .attr("x", 0)
            .attr("y", 0)
            .attr("width", imageAttr.width)
            .attr("height", imageAttr.height)

        landing.append("div")
            .attr("class", "title")
            .style("color", color.ink)
            .text("where am i?")

        // let introHTML = `
        //   Translate your <a href="https://en.wikipedia.org/wiki/Open_Location_Code" style="color: #324749;"> 
        //   open location code (OLC) </a> to a word phrase that can be easily remembered.
        // `

        let introHTML = "Translate your location to a word phrase that can be easily remembered."

        landing.append("div")
            .attr("class", "subheader")
            .style("color", color.subdued)
            .style("width", 100)
            .style("word-wrap", "normal")
            .style("text-align", "center")
            .style("padding", "24px 0px 24px 0px")
            .html(introHTML)

        let landingButton = landing.append("div")
            .attr("class", "subheader")
            .style("text-align", "right")
            .append("a")
            .style("color", color.ink)
            .style("text-decoration", "none")
            .style("transition", ".3s ease")
            .style("cursor", "pointer")
            .text("FIND WHERE YOU ARE >>")
            .on("mouseover", function() {
                landingButton.style("letter-spacing", "2px")
            }).on("mouseout", function() {
                landingButton.style("letter-spacing", "0px")
            }).on("mousedown", function() {
                $('html,body').animate({
                    scrollTop: $("#whereamidiv").offset().top
                }, 'slow');
            })

        // Setup "where am i?" header.
        sidebar.append("div")
            .attr("class", "title")
            .style("width", width - padding.horizontal * 2)
            .style("color", color.ink)
            .style("padding", "48px 0px 64px 0px")
            .text("where am i?")

        sidebar.append("input")
            .attr("id", "gmap-input")
            .attr("class", "controls pac-input")
            .attr("type", "text")
            .attr("placeholder", "find a location...")
            .style("border", "none")
            .style("background-color", color.page)
            .style("color", color.ink)
            .style("outline", "none")
        
        sidebar.append("div")
            .style("height", "4px")
            .style("width", width - padding.horizontal * 2)
            .style("background-color", color.ink)
            .style("margin", "4px 24px 24px 24px")

        sidebar.append("div")
            .style("height", "1px")
            .style("width", "428px")
            .style("background-color", color.ink)
            .style("margin", "24px 0px 24px 0px")

        sidebar.append("form")
            .attr("id", "olc-form")
            .append("input")
            .attr("type", "text")
            .attr("class", " controls pac-input")
            .attr("name", "olc")
            .attr("id", "olc")
            .attr("placeholder", "find a location...")
            .style("border", "none")
            .style("background-color", color.page)
            .style("color", color.ink)
            .style("outline", "none")

        sidebar.append("div")
            .style("height", "4px")
            .style("width", width - padding.horizontal * 2)
            .style("background-color", color.ink)
            .style("margin", "4px 24px 24px 24px")

        // Setup "search by" section.
        addSubheader(sidebar, "SEARCH BY")

        let searchBySvg = sidebar.append("div")
            .style("padding", "0px 24px 0px 24px")
            .append("svg")
            .attr("height", searchBySwitchAttr.height + 4)
            .attr("width", 210)

        searchBySvg.append("rect")
            .attr("stroke", color.ink)
            .attr("stroke-width", 2)
            .attr("fill", color.page)
            .attr("height", searchBySwitchAttr.height)
            .attr("width", searchBySwitchAttr.width)
            .attr("rx", searchBySwitchAttr.width / 2)
            .attr("x", searchBySwitchAttr.x)
            .attr("y", searchBySwitchAttr.y)
            .on("mousedown", function() {
                toggleSearchBySwitch()
            })

        let searchBySwitchCircle = searchBySvg.append("rect")
            .attr("fill", color.ink)
            .attr("width", searchBySwitchAttr.width - searchBySwitchAttr.padding * 2)
            .attr("height", searchBySwitchAttr.width - searchBySwitchAttr.padding * 2)
            .attr("rx", (searchBySwitchAttr.width - searchBySwitchAttr.padding) / 2)
            .attr("x", searchBySwitchAttr.x + searchBySwitchAttr.padding)
            .attr("y", searchBySwitchAttr.y + searchBySwitchAttr.padding)
            .on("mousedown", function() {
                toggleSearchBySwitch()
            })

        let searchByPlusCodeText = searchBySvg.append("text")
            .attr("class", "caption")
            .attr("fill", color.ink)
            .attr("x", searchBySwitchAttr.x + searchBySwitchAttr.width + 18)
            .attr("y", searchBySwitchAttr.y + searchBySwitchAttr.padding)
            .attr("alignment-baseline", "hanging")
            .text("plus code")

        let searchByWordPhraseText = searchBySvg.append("text")
            .attr("class", "caption")
            .attr("fill", color.ink)
            .attr("x", searchBySwitchAttr.x + searchBySwitchAttr.width + 18)
            .attr("y", searchBySwitchAttr.y + searchBySwitchAttr.height - searchBySwitchAttr.padding)
            .attr("alignment-baseline", "bottom")
            .text("word phrase")

        toggleSearchBySwitch()

        // Add divider.
        sidebar.append("div")
            .style("height", "1px")
            .style("width", "428px")
            .style("background-color", color.ink)
            .style("margin", "24px 0px 24px 0px")

        // Setup plus code and word phrase information section.
        addSubheader(sidebar, "PLUS CODE")
        let plusCodeText = addHeader(sidebar, "")
        addSubheader(sidebar, "WORD PHRASE")
        let wordPhraseText = addHeader(sidebar, "")

        function toggleSearchByOpt(searchState) {
            if (searchState) {
                document.getElementById("olc").setAttribute("placeholder", `enter a plus code...`)
            } else {
                document.getElementById("olc").setAttribute("placeholder", `enter a word phrase...`)
            }
        }

        function toggleSearchBySwitch() {
            searchByPlusCode = !searchByPlusCode
            toggleSearchByOpt(searchByPlusCode)
            let circleY = searchByPlusCode ?
                searchBySwitchAttr.y + searchBySwitchAttr.padding :
                searchBySwitchAttr.y + searchBySwitchAttr.height - searchBySwitchAttr.padding - searchBySwitchCircle.attr("height")
            searchBySwitchCircle.transition()
                .duration(100)
                .ease(d3.easeLinear)
                .attr("x", searchBySwitchAttr.x + searchBySwitchAttr.padding)
                .attr("y", circleY)
            searchByPlusCodeText.attr("opacity", searchByPlusCode ? 1 : 0.25)
            searchByWordPhraseText.attr("opacity", searchByPlusCode ? 0.25 : 1)
        }

        function updatePlusCode(text) {
            plusCodeText.text(text)
        }

        function updateWordPhrase(text) {
            wordPhraseText.text(text)
        }

        // 6PH57VP3+CW7
        // between.west.north.front.body.board
        // 849VCWC8+R9
        // white.horse.body.girl.stead

        const baseUrl = "http://localhost:8000";

        (function() {
            document.getElementById("olc-form").addEventListener("submit", (e) => {
                e.preventDefault();
                console.log("searchByPlusCode current value: " + searchByPlusCode)
                console.log("User entered: " + document.getElementById("olc").value)

                if (searchByPlusCode) {
                    fetch(`${baseUrl}/lookup_olc?olc=${document.getElementById("olc").value}`)
                    .then(res => res.json())
                    .then(json => {
                      updatePlusCode(document.getElementById("olc").value)
                      updateWordPhrase(json.phrase)
                    })
                    .catch(err => console.error(err));
                } else {
                    fetch(`${baseUrl}/lookup_phrase?phrase=${document.getElementById("olc").value}`)
                    .then(res => res.json())
                    .then(json => {
                      updatePlusCode(json.olc)
                      updateWordPhrase(document.getElementById("olc").value)
                    })
                    .catch(err => console.error(err))
                }
            })
        })();

    </script>
         
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCocZZTCz9pr5gtn5Yx69pG-h4zdwtMBU4&libraries=places&callback=initAutocomplete" async defer></script>
    <script src="{{ url_for('static',filename='js/search.js') }}"></script>
</body>
</html>
   