.subheader {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    margin: 8px 24px 8px 24px;
}

.header {
    font-family: 'Abel', sans-serif;
    font-size: 36px;
    margin: 16px 24px 16px 24px;
}

.caption {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
}

.title {
    font-family: 'Abel', sans-serif;
    font-size: 72px;
    text-align: center;
}